RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]
RewriteCond %{HTTP_HOST} ^qr\.jmgalleries\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.qr\.jmgalleries\.com$