/* ********************** */
/* partial_newsletter */

.newsletter-section-fn {
    padding-top: 2rem;
    text-align: center;

    h3 {
        padding-bottom: .5rem;

        // xSmall devices (landscape phones, 320px and up)
        @media (min-width: 320px) {
            font-size: 1rem;
        }

        // Small devices (landscape phones, 576px and up)
        @media (min-width: 376px) {
           font-size: 1rem;
        }

        // Medium devices (tablets, 768px and up)
        @media (min-width: 767px) {
            font-size: 1.5rem;
        }

        // Large devices (tablets (iPad Pro, 1112px and up)
        @media (min-width: 1112px) {
            font-size: 1.5rem;
        }

        // Extra large devices (large desktops, 1200px and up)
        @media (min-width: 1200px) {
            font-size: 1.5rem;
        }

    }

}

.newsletterinput {
    // width: 48% !important;
    // height: 35px !important;
    margin-bottom: 1rem !important;
    // margin-left: 1rem !important;
    background-color: #FFF !important;
    padding-left: .5rem !important;
    margin-right: 8px;
    width: 60% !important;

    /* MEDIA QUERIES from Chrome, Safari, Firefox as of 10/2021 */
    /* Mobile S: iPhone5/SE(320), Moto G4(360), Galaxy S5(360), Galaxy S10(360) */
    @media (min-width: 320px) {
        width: 100% !important;
    }

    /* Mobile M: iPhone 11(375), iPhone 12/13 Mini(375), iPhone 12/13 Pro(390), iPhone SE Gen2(375), iPhone 6/7/8(375), iPhone 6/7/8+(414), iPhoneX(375), Pixel 2(411), Galaxy Note(412)*/
    @media (min-width: 375px) {
        width: 100% !important;
    }

    /* Mobile L: iPhone 12/13 Pro Max(428) */
    @media (min-width: 425px) {
        width: 100% !important;
    }

    /* Tablet: iPad Mini(768), iPad 9.7(768), iPad Pro 10.5(834) */
    @media (min-width: 768px) {
        width: 80% !important;
    }

    /* Laptop: iPad Pro 12.9(1024) */
    @media (min-width: 1024px) {
        width: 86% !important;
    }

    /* Laptop L: */
    @media (min-width: 1440px) {
        width: 89% !important;
    }

    /* 4k: MacBook Pro*/
    @media (min-width: 2560px) {
        width: 89% !important;
    }


}

#mce-EMAIL {
    border-radius: $border-radius;
}

.newsletter-button {
    height: 51px;
    display: inline-block;

    /* MEDIA QUERIES from Chrome, Safari, Firefox as of 10/2021 */
    /* Mobile S: iPhone5/SE(320), Moto G4(360), Galaxy S5(360), Galaxy S10(360) */
    @media (min-width: 320px) {
        display: block;
    }

    /* Mobile M: iPhone 11(375), iPhone 12/13 Mini(375), iPhone 12/13 Pro(390), iPhone SE Gen2(375), iPhone 6/7/8(375), iPhone 6/7/8+(414), iPhoneX(375), Pixel 2(411), Galaxy Note(412)*/
    @media (min-width: 375px) {
        display: block;
    }

    /* Mobile L: iPhone 12/13 Pro Max(428) */
    @media (min-width: 425px) {
        display: block;
    }

    /* Tablet: iPad Mini(768), iPad 9.7(768), iPad Pro 10.5(834) */
    @media (min-width: 768px) {
        display: inline-block;
    }

    /* Laptop: iPad Pro 12.9(1024) */
    @media (min-width: 1024px) {
        display: inline-block;
    }

    /* Laptop L: */
    @media (min-width: 1440px) {
        display: inline-block;
    }

    /* 4k: MacBook Pro*/
    @media (min-width: 2560px) {
        display: inline-block;
    }

}

.newsletter-button:hover a {
    color: $color-white;;
}

.h3-sub {
    color:#FFF;
    font-weight: 400;
    @extend .mb-8;
    font-size: 1.5rem;
}

.foot-news {
    @extend .mt-16;
    // border-left: .5px solid #FFF;
    // padding-left: 20px !important;
    padding-bottom: 0 !important;
    margin: auto;
}

.email {
    @extend .mr-8;
}

.newsletter-container {
    vertical-align: bottom;
}

#newsletter input[type=text] {
    width: 56%;
    padding: 10px;
    height: 42px;
    margin-right: 10px;

}

.subscribe-form-container {
    position: relative;
}

.normal {
    font-size: 1.0rem;
}

// #mc_embed_signup {
//     background-color: none;
//     padding: 0 !important;
//
//     input {
//         position: relative;
//         height: 50px;
//         padding: 0 24px;
//         width: 80%;
//         border: none;
//         -webkit-appearance: none;
//         -moz-appearance: none;
//         // background-color: rgba(0, 0, 0, .05);
//         border-radius: 5px;
//         font-family: inherit;
//         font-size: 1.0rem;
//         font-weight: 300;
//         line-height: 1.8rem;
//         outline: none;
//         transition: border 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
//         box-sizing: border-box;
//         padding-left: 15px;
//         margin-bottom: 1rem;
//
//         @media (max-width: 64em) and (orientation: portrait),
//         (max-width: 80em) and (orientation: portrait)
//         {
//            width: 80%;
//         }
//
//         @media (min-device-width: 375px) and (max-device-height: 812px)
//             and (orientation : landscape) and (-webkit-device-pixel-ratio: 3)
//         {
//            width: 80%;
//         }
//
//     }
//
//     .mc-inline {
//         display: inline-block;
//     }
//
//     label {
//             position: absolute;
//             font-size: .8rem;
//             margin-top: -4px;
//             background-color: #DDD;
//             padding: 0 5px;
//             color: $color-black;
//             border-radius: 0 $border-radius $border-radius 0;
//     }
// }

// .mc_embed_signup {
//     padding: 0 !important;
// }

.form-icon {
    position: absolute;
    top: 0;
    left: 0;
    line-height: 50px !important;
    width: 50px;
    height: 50px;
    font-size: 18px;
    text-align: center;
    color: #797676;
}

.subscribe-form-input {
    width: 100% !important;
    padding-left: 60px !important;;
    height: 50px !important;;
}

.subscribe-form-button {
    height: 50px;
    position: absolute;
    right:0;
}

.disclaimer {
    font-size: .9rem;
}

.subheadline {
    margin-top: -16px;
    font-size: .9rem;
}

.text-l {
    text-align: left !important;
}
