[class~="col"], [class*="col-"], [class*="col_"] {
    padding: 0 0.5rem 0 0.5rem;
}

.blue {
    color: #2574A9;
}

.gray {
    color: #4D4D4D;
}

.pt-16 {
    padding-top: 16px;
}

.pt-32 {
    padding-top: 32px !important;
}

.pb-16 {
    padding-bottom: 16px;
}

.pb-24 { 
    padding-bottom: 24px;
}

.pt-24 {
    padding-top: 24px;
}

.pb-32 {
    padding-bottom: 32px !important;
}

.padtop-32 {
    padding-top: 32px;
}

.padbot-32 {
    padding-bottom:32px;
}

.padbot-8 {
    padding-bottom: 8px;
}

.mt-42 {
    margin-top: 42px;
}

.mb-42 {
    margin-bottom: 42px;
}

a {
    color: #2574A9;
}

a:hover {
    color: #000;
    /* text-decoration: underline; */
}

h1, h2, h3, h4, h5, h6 {
    color: #2574A9;
    font-weight: 300;
}

h1.supersize {
    font-size: 4.5em;
}

section, article {
    margin-top: 32px;
    margin-left: 8px;
    margin-right: 8px;
} 

.left {
    float: left;
}

.right {
    float: right;
}

main {
    /* width: 95%; */
    max-width: 85.375em;
    margin: auto;
}

#home-image {
    margin-top:0;
}
.top-nav {
    margin-top: 32px;
}

#top-nav-home {
    position: relative;
    top: 116px;
    /* left: 7%; */
    /* right: 7%; */
    width: 100%;
    /* min-width: 1454px; */
    z-index: 1024;
    margin-top: -77px;
}

#top-nav-home img {
    /* filter: invert(0); */
    opacity: .6;
}
#top-nav-home a {
    color: #FFF;
}

#top-nav-home a:hover {
    color: #000;
}

.center {
    text-align: center;
}

[class*="col-"] {
    padding-left: 0;
    padding: 0;
}

[class*="col"] {
    position: relative;
    /* padding-left: 0; */
}

[class*="col"]:first-of-type {
    /* position: relative; */
    padding-left: 0;
}

[class*="col"] >p {
/* background: #AAA; */
}

[class*="col"] >img {
/* width: 100%; */
}

.hero {
position: relative;
}

.hero_text_container {
position: absolute;
top: 75%;
left: 41%;
transform: translate(-32%, -41%);
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
}

.hero_text {
    color: rgba(0,0,0,.5);
    /* color: rgba(255,255,255,.7);  */
    /* color: rgba(37,116,169,.7) */
    font-size: 4em; 
    line-height: 1;
}

.hero_text_container a {
    /* color: rgba(255,255,255,.8); */
    color: rgba(0,0,0,.5);
    /* color: rgba(37,116,169,.7); */
    font-size: 2em;
}

.hero_text_container a:hover {
    /* color: rgba(255,255,255,1); */
    /* color: rgba(37,116,169,1) */
    color: rgba(0,0,0,1);
}

.filmstrip {
margin-top: 10px;
}

.gallery >p {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.content-border {
border-right: 1px solid #DDD;
padding-right: 10px;
}

.mtop {
margin-top: 10px;
}

#polarized >article >div >div.col >p {
    padding-top: 10px;
    color: rgba(0,0,0,.54);
    line-height: 1.5;
}

#polarized >article >div >div.col {
    padding: 20px;
}

#polarized >article >div >div.col:nth-child(2) {
    /* height: 140px; */
    /* padding-left:0; */
}

.medium-feed-image, .medium-feed-link {
    display: none;
}

#footer {
    margin-bottom: 32px;
}

#footer ul {
    line-height: 1.6;
}

#footer h4, h5 {
    /* font-weight: 700; */
}

#footer li a {
    color: #000;
}
#footer li a:hover {
    color: #2574A9;
}

#footer img {
    width: 24px;
    opacity: .6;
}
#footer img:hover {
    opacity: 1;
}

button {
    display: inline-block;
    padding: 10px;
    background-color: #FFF;
    border: 0;
    color: #2574A9;
    border-radius: 4px;
    border: 1px solid #2574A9;
    min-width: 124px;
}

button a {
    color: #2574A9;
}

button:hover, button a:hover {
    border-color:   #FFF;
    background-color: #71b3e0;
    cursor: pointer;
    color: #FFF;
}

/* PAGES */
.subsection-ul {
    margin-top: 20px;
    list-style-type: none;
}

.subsection-ul li {
    margin-top: 30px;
}

.subsection-ul li >p {
    font-size: 1.0rem;
    margin-bottom: 10px;
    margin-top: 10px;
}

.subsection-ul li >p.intro {
    /* font-size: 1.8rem;
    line-height: 1.5em; */
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.3em;
    margin-top: 25px;
    color: rgba(0,0,0,.5);
}

.subsection-ul li >ol {
    list-style-type: none;
}

.subsection-ul li >ol li {
    margin-bottom: 10px;
    margin-left: 30px;
}

/* FORMS */
label {
    /* display: none; */
    font-size: .7rem;
    text-transform: uppercase;
    background-color: #AAA;
    color: #000;
    position: absolute;
    padding: 5px;
    border-radius: 4px 4px 4px 0;
}

#form_response {
    margin-top: 40px;
    background-color: rgba(130,189,94,.6);
    border: 1px solid  rgba(130,189,94,1);;
    padding: 30px;
    border-radius: 3px;
    display: none;
    }

input[type="text"], textarea, select {
    position: relative;
    height: 64px;
    padding: 0 24px;
    width: 100%;
    border: 1px solid #edecec;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: rgba(0, 0, 0, .05);
    border-radius: 5px;
    font-family: inherit;
    font-size: 1.0rem;
    font-weight: 300;
    line-height: 1.8rem;
    outline: none;
    transition: border 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
    /* line-height: 50px; */
    box-sizing: border-box;
    padding-top: 20px;
    padding-left: 15px;
    margin-bottom: 10px;
}

