a {
    color: #2574A9;
}

a:hover {
    color: #000;
    /* text-decoration: underline; */
}

h1, h2, h3, h4, h5 {
    color: #2574A9;
    font-weight: 300;
}

section, article {
    margin-top: 48px;
} 

.container {
width: 100%;
max-width: 90rem;
margin: 0 auto;
}

.center {
    text-align: center;
}

[class*="col-"] {
    padding-left: 0;
    padding: 0;
}

[class*="col"] {
    position: relative;
    /* padding-left: 0; */
}

[class*="col"]:first-of-type {
    /* position: relative; */
    padding-left: 0;
}

[class*="col"] >p {
/* background: #AAA; */
}

[class*="col"] >img {
/* width: 100%; */
}

.left {
height: 350px;
background: yellow;
}

.right {
background: blue;
}

.hero {
position: relative;
}

.hero_text_container {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
font-weight: 700;
text-align: center;
color: rgba(255,255,255,.6); 

}

.hero_text {
    font-size: 8em; 
}

.hero_text_link {
    font-size: 2.0em;
    text-transform: uppercase;
    background-color: rgba(0,0,0,.65);
}

.filmstrip {
margin-top: 10px;
}

.gallery >p {
    text-align: center;
    padding-top: 10px;
}

.content-border {
border-right: 1px solid #DDD;
padding-right: 10px;
}

.mtop {
margin-top: 10px;
}

#polarized >article >div >div.col >p {
    padding-top: 10px;
    color: rgba(0,0,0,.54);
}

#polarized >article >div >div.col {
    padding: 20px;
}

#polarized >article >div >div.col:nth-child(2) {
    height: 160px;
    padding-left:0;
}

.medium-feed-image, .medium-feed-link {
    display: none;
}