/* ********************** */
/* view_index  */
#index {

    .v-align-m {

        position: relative;

        /* MEDIA QUERIES from Chrome, Safari, Firefox as of 10/2021 */
        /* Mobile S: iPhone5/SE(320), Moto G4(360), Galaxy S5(360), Galaxy S10(360) */
        @media (min-width: 320px) {
            margin-top: 2rem;
        }

        /* Mobile M: iPhone 11(375), iPhone 12/13 Mini(375), iPhone 12/13 Pro(390), iPhone SE Gen2(375), iPhone 6/7/8(375), iPhone 6/7/8+(414), iPhoneX(375), Pixel 2(411), Galaxy Note(412)*/
        @media (min-width: 375px) {
            margin-top: 2rem;
        }

        /* Mobile L: iPhone 12/13 Pro Max(428) */
        @media (min-width: 425px) {
            margin-top: 2rem;
        }

        /* Tablet: iPad Mini(768), iPad 9.7(768), iPad Pro 10.5(834) */
        @media (min-width: 768px) {
            margin-top: 2rem;
        }

        /* Laptop: iPad Pro 12.9(1024) */
        @media (min-width: 1024px) {
            position: absolute;
            top : 45%;
            left: 20%;

            transform    : translate(-12%, -50%);
        }

        /* Laptop L: */
        @media (min-width: 1440px) {
            position: absolute;
            top : 45%;
            left: 20%;
            transform    : translate(-12%, -50%);
        }

    }

    .landing-image {
        width: 100%;
        border-radius: 12px;
    }

    .landing-image:hover {
        box-shadow: 20px 20px 50px 15px grey;
    }

    p {
        display: inline-block;
    }

}
