/* ********************** */
/* view_catalog */

#catalog {

 h2 {
    text-align: left;
    display: none;

     // xSmall devices (landscape phones, 320px and up)
    @media (min-width: 320px) {
    //  background-color: pink;
    text-align: center;
    display: block;
    }

    // Small devices (landscape phones, 576px and up)
    @media (min-width: 376px) {
    //  background-color: red;
    text-align: center;
    display: block;
    }

    // Medium devices (tablets, 768px and up)
    @media (min-width: 767px) {
     // background-color: blue;
    text-align: center; //left
    display: none;
    }

    // Large devices (tablets (iPad Pro, 1112px and up)
    @media (min-width: 1112px) {
    //  background-color: gray;
    text-align: center; //left
    display: none;
    }

    // Extra large devices (large desktops, 1200px and up)
    @media (min-width: 1200px) {
     // background-color: lightgreen;
    text-align: center; //left
    display: none;
    }
}

    h4 {
        // text-transform: uppercase;
        font-size: 1rem;
        font-weight: 400;

            // xSmall devices (landscape phones, 320px and up)
            @media (min-width: 320px) {
            //  background-color: pink;
            font-size: 1rem;
            }

            // Small devices (landscape phones, 576px and up)
            @media (min-width: 376px) {
            //  background-color: red;
                font-size: 1.2rem;
            }

            // Medium devices (tablets, 768px and up)
            @media (min-width: 767px) {
            //  background-color: blue;
            font-size: 1.5rem;
        }

            // Large devices (tablets (iPad Pro, 1112px and up)
            @media (min-width: 1112px) {
            //  background-color: gray;
                font-size: 1.5rem;
            }

            // Extra large devices (large desktops, 1200px and up)
            @media (min-width: 1200px) {
            //  background-color: lightgreen;
            font-size: 1.5rem;
            }

    }

    .shop-tv-link {
        text-align: center;
        text-transform: uppercase;

    }
}

.--subhead{
    text-align: center;

    // xSmall devices (landscape phones, 320px and up)
    @media (min-width: 320px) {
        font-size: .7rem;
        display: none;
     // background-color: pink;
    }

    // Small devices (landscape phones, 576px and up)
    @media (min-width: 375px) {
        font-size: .9rem;
        display: none;
     // background-color: red;
    }

    // Medium devices (tablets, 768px and up)
    @media (min-width: 767px) {
        font-size: 1.2rem;
        display: block;
     // background-color: blue;
    }

    // Large devices (tablets (iPad Pro, 1112px and up)
    @media (min-width: 1112px) {
    //  background-color: gray;
    font-size: 1.5rem;
    display: block;
    }

    // Extra large devices (large desktops, 1200px and up)
    @media (min-width: 1200px) {
    //  background-color: lightgreen;
    font-size: 1.5rem;
    display: block;
    }

}

.title {
    text-align: left;

    // xSmall devices (landscape phones, 320px and up)
    @media (min-width: 320px) {
    //  background-color: pink;
    text-align: center;
    }

    // Small devices (landscape phones, 576px and up)
    @media (min-width: 376px) {
    //  background-color: red;
    text-align: center;
    }

    // Medium devices (tablets, 768px and up)
    @media (min-width: 767px) {
    //  background-color: blue;
    text-align: center;
    }

    // Large devices (tablets (iPad Pro, 1112px and up)
    @media (min-width: 1112px) {
    //  background-color: gray;
    // font-size: 1.5rem;
    }

    // Extra large devices (large desktops, 1200px and up)
    @media (min-width: 1200px) {
    //  background-color: lightgreen;
    // font-size: 1.5rem;
    }

}

// .filter-thumb-gallery {

//     >p {
//         font-size: 1rem;
//     }
// }

// .filter-thumb-gallery img {
//     width: 100%;
//     border-bottom: 5px solid transparent;
//     &:hover {
//         // box-shadow: 0px 20px 25px 0px rgba(0, 0, 0, 0.3);
//         border-bottom: 5px solid $color-blue;
//     }
// }

// .filter-editions-list {

//     margin: 2rem 0;

//     li {
//     display: inline-block;
//     font-size: 1.4rem;
//     padding: .5rem;
//     width: 300px;
//     color: $color-blue;

//         &:not(:last-child) {
//             margin-right: 10px;
//         }

//         &:first-child {
//         }

//         &:hover {
//             cursor: pointer;
//             color: $color-black-dark;
//         }

//         &.selected {
//             font-weight: 700;
//             border-bottom: 3px solid $color-blue;
//         }
//     }

// }
