<div class="grid">

    <div class="col-3" id="img_1_expanded" style="display: block; min-height:300px; position: relative;">
        <p style="font-size: 1.5rem;font-weight: 600; padding:0; margin: 0;display: none;">And, so the story goes ...</p><p style="font-size: 3rem;">1</p>

        <p id="caption_1" style="padding: 0rem 0 2rem 0; font-size: 1.2rem; margin-bottom:0; margin-top: 5px;">The initial descent is an easy walk, or foot-shuffle, through some loose Tahoe dirt, fallen trees and overgrown bushes. About half way down, I looked across the lake to the southwest and fell into a Thomas Kincade canvas.</p>
    </div>

    <div class="col" style="position: relative;">
        <img style="width: 100%; border-radius: 6px;" src="/view/image/fieldnotes/hike-to-bonsai-rock-lake-tahoe_file_1.jpg" alt="" />
        <p style="position:absolute; bottom: 0rem; right: 2.3rem;"><a href="#" style="color: #FFF; font-size: 2.5rem;">&rarr;</a></p>
    </div>

</div>