<div class="col-6_sm-12 storycard--background" style="background: rgba(0,0,0,1) url(/view/image/fieldnotes/camera-gear-for-about-the-town-trips_file_1.jpg) no-repeat center; background-size: cover;width: 50%;display: inline-flex;">
    <div class="content--preview">
        <div style="padding: 1rem .1rem;">
        <p class="--tag">ARTICLE</p>
        <h4><a href="/polarized/camera-gear-for-about-the-town-trips">Camera Gear For About The Town Trips</a></h4>
        
        
        <p style="padding-top: 32px;font-weight: 600;">FRI SEP 17 2020 BY j.McCarthy &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</p></div>
    </div> 
</div>

<!-- background-color: rgba(0,0,0,.2); -->