#my-account {

    display: none;
    border-bottom: 5px solid #e4e4e4;
    padding-bottom: 1rem;

    .form_response {
        display: none;
    }

    .tryagain {
        display: none;
        margin-top: -1rem;
    }

}