/* ********************** */
/* component_notice */

.notice-container {
    position: fixed;
    top: 0;
    width:100%;
    z-index:1;
}

.notice-banner {
    font-family: "lato", sans-serif;
    font-size: 1.3rem;
    line-height: 1;
    padding: 20px;
    text-align: center;

        span {
            font-family: "lato", sans-serif;
        }

        >a {
            // font-family: "lato", sans-serif;
            font-size: 1.3rem;
            text-decoration: none;
            color: $color-white;
        }

        >a:hover {
            text-decoration: none;
            color: $color-black;
        }

    /* MEDIA QUERIES from Chrome, Safari, Firefox as of 10/2021 */

    /* Mobile S: iPhone5/SE(320), Moto G4(360), Galaxy S5(360), Galaxy S10(360) */
    @media screen and (min-width: 320px) {
        display: none;
    }

    /* Mobile M: iPhone 11(375), iPhone 12/13 Mini(375), iPhone 12/13 Pro(390), iPhone SE Gen2(375), iPhone 6/7/8(375), iPhone 6/7/8+(414), iPhoneX(375), Pixel 2(411), Galaxy Note(412)*/
    @media screen and (min-width: 375px){
        display: none;
    }

    /* Mobile L: iPhone 12/13 Pro Max(428) */
    @media screen and (min-width: 425px) {
        display: none;
    }

    /* Tablet: iPad Mini(768), iPad 9.7(768), iPad Pro 10.5(834) */
    @media screen and (min-width: 768px) {
        display: block;
    }

    /* Laptop: iPad Pro 12.9(1024) */
    @media screen and (min-width: 1024px)  {
        display: block;
    }

    /* Laptop L: */
    @media screen and (min-width: 1440px) {
        display: block;
    }

    /* 4k: LCD L */
    @media screen and (min-width: 1920px) {
        display: block;
    }
}

.notice-banner-mobile {
    display: none;
    font-family: "lato", sans-serif;
    padding: 20px;
    text-align: center;

    span {
        font-family: "lato", sans-serif;
    }

    >a {
        // font-family: "lato", sans-serif;
        // font-size: 1.3rem;
        text-decoration: underline;
        color: #FFF;
    }

    >a:hover {
        text-decoration: none;
    }

    /* MEDIA QUERIES from Chrome, Safari, Firefox as of 10/2021 */

    /* Mobile S: iPhone5/SE(320), Moto G4(360), Galaxy S5(360), Galaxy S10(360) */
    @media screen and (max-width: 320px) {
        display: block;
    }

    /* Mobile M: iPhone 11(375), iPhone 12/13 Mini(375), iPhone 12/13 Pro(390), iPhone SE Gen2(375), iPhone 6/7/8(375), iPhone 6/7/8+(414), iPhoneX(375), Pixel 2(411), Galaxy Note(412)*/
    @media screen and (min-width: 375px) and (max-width: 768px) {
        display: block;
    }

    /* Mobile L: iPhone 12/13 Pro Max(428) */
    @media screen and (min-width: 425px) {
        display: block;
    }

    /* Tablet: iPad Mini(768), iPad 9.7(768), iPad Pro 10.5(834) */
    @media screen and (min-width: 768px) and (max-width: 1024px) {
        display: none;
    }

    /* Laptop: iPad Pro 12.9(1024) */
    @media screen and (min-width: 1024px) and (max-width: 1440px) {
        display: none;
    }

    /* Laptop L: */
    @media screen and (min-width: 1440px) and (max-width: 1920px) {
        display: none;
    }

    /* 4k: LCD L */
    @media screen and (min-width: 1920px) {
        display: none;
    }
}

.notice-ALERT-old {
    background-color: $color-error;

    // >p {
    //     color: #FFFFFF;
    // }
}

.notice-WARNING-old {
    background-color: $color-warning;

    // >p {
    //     color: #FFFFFF;
    // }
}

.notice-NORMAL-old {
    background-color: $color-blue;

    // >p {
    //     color: #FFFFFF;
    // }
}

.notice-bell {
    display: none;
    color: #2471A3;
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 10;

    &:hover, &:focus {
        cursor: pointer;
        animation: bellshake .5s cubic-bezier(.36,.07,.19,.97) both;
        backface-visibility: hidden;
        transform-origin: top right;
      }


}

@keyframes bellshake {
    0% { transform: rotate(0); }
    15% { transform: rotate(5deg); }
    30% { transform: rotate(-5deg); }
    45% { transform: rotate(4deg); }
    60% { transform: rotate(-4deg); }
    75% { transform: rotate(2deg); }
    85% { transform: rotate(-2deg); }
    92% { transform: rotate(1deg); }
    100% { transform: rotate(0); }
}

