/* ********************** */
/* view_about */

#about {
    // padding: 0;
    // margin: 0;

    p {
        @extend .mb-16;

        &.larger {
            font-size: 1.3rem;
        }
    }
}

.social-icon-container {

    /* MEDIA QUERIES from Chrome, Safari, Firefox as of 10/2021 */
    /* Mobile S: iPhone5/SE(320), Moto G4(360), Galaxy S5(360), Galaxy S10(360) */
    @media (min-width: 320px) {
        text-align: center
    }

    /* Mobile M: iPhone 11(375), iPhone 12/13 Mini(375), iPhone 12/13 Pro(390), iPhone SE Gen2(375), iPhone 6/7/8(375), iPhone 6/7/8+(414), iPhoneX(375), Pixel 2(411), Galaxy Note(412)*/
    @media (min-width: 375px) {
        text-align: center
    }

    /* Mobile L: iPhone 12/13 Pro Max(428) */
    @media (min-width: 425px) {
        text-align: center
    }

    /* Tablet: iPad Mini(768), iPad 9.7(768), iPad Pro 10.5(834) */
    @media (min-width: 768px) {
        text-align: left;
    }

    /* Laptop: iPad Pro 12.9(1024) */
    @media (min-width: 1024px) {
        text-align: left;
    }

    /* Laptop L: */
    @media (min-width: 1440px) {
        text-align: left;
    }

    /* 4k: MacBook Pro*/
    @media (min-width: 2560px) {
        text-align: left;
    }

}

.social-icon {
    font-size: 2rem;
}

.name-container {
    padding: 72px !important;
}

.name {
    font-size: 2.25em;
}

.name-title {
    font-size: 1rem;
}

.name-statement {
font-size: 1.8rem !important;
text-align: left;

/* MEDIA QUERIES from Chrome, Safari, Firefox as of 10/2021 */
/* Mobile S: iPhone5/SE(320), Moto G4(360), Galaxy S5(360), Galaxy S10(360) */
@media (min-width: 320px) {
    font-size: 1.5rem !important;
}

/* Mobile M: iPhone 11(375), iPhone 12/13 Mini(375), iPhone 12/13 Pro(390), iPhone SE Gen2(375), iPhone 6/7/8(375), iPhone 6/7/8+(414), iPhoneX(375), Pixel 2(411), Galaxy Note(412)*/
@media (min-width: 375px) {
    font-size: 1.2rem !important;
}

/* Mobile L: iPhone 12/13 Pro Max(428) */
@media (min-width: 425px) {
    font-size: 1.2rem !important;
}

/* Tablet: iPad Mini(768), iPad 9.7(768), iPad Pro 10.5(834) */
@media (min-width: 768px) {
    font-size: 1.4rem !important;
}

/* Laptop: iPad Pro 12.9(1024) */
@media (min-width: 1024px) {
    font-size: 1.4rem !important;
}

/* Laptop L: */
@media (min-width: 1440px) {
    font-size: 1.4rem !important;
}

/* 4k: MacBook Pro*/
@media (min-width: 2560px) {
    font-size: 1.4rem !important;
}

}

.artist-statement {
    box-sizing: border-box;
    // padding: 2rem;
}

.bio-profile-pic-overlay-old {
    position: absolute;
    right: -124px;
    top: 148px;
    border-radius: 260px;
    padding: 10px;
    background-color: #FFF;
    width: 240px;
    z-index: 1001;
}

.bio-profile-pic-bkg {
    min-height: 450px;
    background-size: cover;
    background-position: 0px 665px;
    // border-radius: $border-radius;
    border-top-left-radius: 150px;
    border-bottom-right-radius: 150px;
    box-shadow: 0px 20px 25px 0px rgba(0, 0, 0, 0.3);

     // xSmall devices (landscape phones, 320px and up)
     @media (min-width: 320px) {
        background-image: url(/view/__image/profile_3.jpg);
        background-position: center;
        // background-color: lightpink;
        min-height: 250px;
        display: block;
    }

    // Small devices (landscape phones, 576px and up)
    @media (min-width: 376px) {
        background-image: url(/view/__image/profile_4.jpg);
        background-position: center;
        // background-position: 0px 400px;
        min-height: 450px;
        display: block;
    }

    // Medium devices (tablets, 768px and up)
    @media (min-width: 767px) {
        background-image: url(/view/__image/profile_2.jpg);
        background-position: top center;
        min-height: 450px;
        display: block;
        // background-color: blue;
    }

    // Large devices (tablets (iPad Pro, 1112px and up)
    @media (min-width: 1112px) {
        background-image: url(/view/__image/profile_4.jpg);
        background-position: 0px 550px;
        // min-height: 450px;
        display: block;
        // background-color: orange;
    }

    // Extra large devices (large desktops, 1200px and up)
    @media (min-width: 1200px) {
        background-image: url(/view/__image/profile_4.jpg);
        background-position: 0px 690px;
        min-height: 500px;
        display: block;
        filter: grayscale(100%);
        // background-color: red;
    }

}

.bio-profile-pic {
    border-radius: $border-radius;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    // height: auto;
    width: 100%;
    overflow: hidden;
}

.bio-profile-pic-old {
    border-radius: 0;
    background-color: #FFF;
    width: 85%;
    z-index: 0;
    opacity: .5;
    margin-top: 32px;
    // position: absolute;
    // top: 45px;
    // left: -5px;
    border: 1px solid #000;
    padding: 30px;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.bio-copy {
    font-size: 1.6rem;
}

.timeline {
    width: 100%;
    // margin: 2rem auto;
    // padding-left: 2rem;
}

.timeline-history >h3 {
    // margin-left: -4rem;
    // display: inline-block;
    // background-color: #FFF;
    // padding: 10px 0;
}

.timeline-history >h4 {
    font-size: 1.5rem;
    font-weight: 400;
}

.timeline-date {
    display: inline-block;
    font-size: 1.5rem;
    border-bottom: 1px solid #CCC;
    padding-bottom: 10px;
}

.timeline-history {
    display: inline-block;
    width: 100%;
    vertical-align: top;
    // margin-top: -25px;

    // xSmall devices (landscape phones, 320px and up)
    @media (min-width: 320px) {
        // border-left: 1px solid #CCC;
        // padding-left:  20px;
        // background-color: lightpink;
    }

    // Small devices (landscape phones, 576px and up)
    @media (min-width: 376px) {
        // border-left: 1px solid #CCC;
        // padding-left:  20px;
        // background-color: gray;
    }

    // Medium devices (tablets, 768px and up)
    @media (min-width: 767px) {
        // border-left: 1px solid #CCC;
        padding-left:  20px;
        // background-color: blue;
    }

    // Large devices (tablets (iPad Pro, 1112px and up)
    @media (min-width: 1112px) {
        // border-left: 1px solid #CCC;
        padding-left:  20px;
        // background-color: orange;
    }

    // Extra large devices (large desktops, 1200px and up)
    @media (min-width: 1200px) {
        // border-left: 1px solid #CCC;
        padding-left:  20px;
        // background-color: red;
    }

}

.timeline-history > p {
    // margin-top: 10px;
    // margin-bottom: 10px;
    font-size: 1rem;
    margin: 1.25rem 0;
}

.timeline-small {
    // font-size: 1rem;
}

.timeline-height-adjust {
    height: 100px;
    vertical-align: middle;
    display: table-cell;
}

.about--exhibits {
    // margin-left: 2rem;
    margin-bottom: 1rem;

    ul li {
        list-style-type: square;
        list-style-position: inside;
        margin-left: 1rem;
        margin-top: 1rem;
        font-size: 1rem;

        &.nobullet {
            list-style-type: none;
        }
    }
}
