#now {

    p {
        margin-top: 4px;
        margin-left: 1rem;
        border-left: 1px solid #a9a9a9;
        padding-left: 1rem;;
    }

    h2 {
        font-size: 2rem;
        margin-left: -2rem;
        margin-top: 2rem;
        text-transform: uppercase;
        color: $color-blue;
    }

    h3, p {
    font-family: 'Source Serif Pro', serif;
    }

    h3 {
        margin-top: 2rem;
    }

    h4 {
        font-weight: 900;
        margin-bottom: 1rem;
        color: $color-blue;
    }

    .line {
        border-bottom: 1px dashed #CCC;
    }

    .month {
        padding-bottom: 2rem;
        @extend .line;
    }

    .nosiderule {
        border-left: none;
        padding-left: 0;
    }

    .nomar-top {
        margin-top: 0;
    }

    .update {

        &--hide {
            display: none;
        }

        &--color-green {
            color: green;
        }

        &--color-orange {
            color: orange;
        }

        &--color-purple {
            color: blueviolet;
        }

        &--label {
            background-color: green;
            color: white;
            padding: 5px;
            margin-right: 5px;
            border-radius: $border-radius;
            font-size: 9px;

            &-color-green {
                cobackground-color: green;
            }

            &-color-orange {
                background-color: orange;
            }

            &-color-purple {
                background-color: blueviolet;
            }

        }
    }

    strike {
        color: #CCC;
        font-weight: 200;
    }
}

.newsletterinput-old {
    width: 80% !important;
}
