.photosviewed--container {

    background-color: rgba(0,0,0,.05);
    border-radius: 6px 6px 0 0;
    padding: 0;
    margin-top: 0;
    max-height: 45vh;
    overflow: scroll;

    .table--box {
        padding: 20px;
        line-height: 1.2;
        position: -webkit-sticky;
          position: sticky;
          top: 0;
          z-index: 1;

        &.gray {
            background-color: lighten($color-secondary-background, 5%);
        }
        
        .add-icon {
            text-align: right;
            margin-top: -2.4rem;
        }
    }

    .item {
        // margin-bottom: 8px; 
        padding: 10px 20px;
        border-bottom: 1px solid #e4e4e4;
        display: inline-block;
        width: 50%;
        height: 100%;

        .photo {
            position: relative;
            display: inline-block;

            img {
                width:54px;
                padding-right: 10px;
            }
            
            .featured {
                position: absolute;
                color: #FFF;
                font-size: 2rem;
                top: 2px;
                left: 13px;
                line-height: 1;
                opacity: .5;
            }
        }

        .detail {
            display: inline-block; 
            vertical-align: top;
            margin-top: 0;
            line-height: 1.3;
        }
        
    }

}