@keyframes flip_animation {
    0%   {color: #e4e4e4;}
    50%  {color:#000;}
    100% {color:$color-blue;}
  }

.menu-icon--container {
    padding-right: 1rem;
    // padding-left: 1rem;
    margin-top: 1.5rem;
        z-index: 90;

    .menu-icon {
        // font-size: 2rem;
        // color: $color-blue;
        line-height: 0;

        &:hover {
            cursor: pointer;
            color: $color-black;
        }

        &.flip {
            animation-name: flip_animation;
            animation-duration: 1s;
            transform: rotate(-180deg);
        }

        &.menu-icon--active {
            // border-bottom: 1px solid #e4e4e4;
            // color: #e4e4e4;

            &:hover {
                color: $color-black;
            }
        }
    }

}

.navigation--container {

    // height: 100vh;
    border-radius: $border-radius;
    padding-right: 32px;

    .add-icon-nav {
        position: absolute;
        top: 16px;
        right: 14px;
    }

    .disabled {
        color: rgba(0,0,0,.2);
    }

    .toolbox {
        // padding-top: 10px;
        // padding-bottom: 10px;

        .nav-icons {
          display: inline-block;
          width: 24px;
          font-size: 1rem;
          vertical-align: middle;
          margin-left: 1rem;
        }

        .dashboard-icon {
            font-size: 1.5rem;
            text-align: right;
            margin-right: 1rem;
        }

        ul li {
            // margin-bottom: 10px;
            font-weight: 200;
            font-size: 1rem;
            position: relative;
            padding: 10px;
            border-left: 3px solid transparent;
            // border-left: 5px solid transparent;
            box-sizing: border-box;

            &.disabled {
                color: rgba(0,0,0,.2);
            }

            span.add-inline {
                position: absolute;
                right: 0;
            }

            &:hover:not(.selected-item) {
                // border-bottom: 5px solid $color-light-gray;
                border-left: 3px solid $color-black;
                // border-left: 0;
                background-color: lighten($color-light-gray,15%);
                cursor: pointer;

                a {
                    color: $color-black;
                }
            }
        }

        .selected-item {
            // text-transform: uppercase;
            background-color: $color-light-silver;
            // border-bottom: 5px solid $color-light-gray;
            border-left: 3px solid $color-blue;
            // border-left: 0;
            color: $color-blue;
            // border-top-right-radius: 1rem;
            padding: 8px;
        }

        .selected {
            font-weight: 200;
            // background-color: #CCC;
            // border-left: 3px solid rgba(0, 0, 0, 0.08);
            padding: 0 0 0 0;
            color: #000;
            // margin-left: -10px;
            // text-transform: uppercase;

            &:before {
                font-family: FontAwesome !important;
                // content: "\f0c8"; /* FontAwesome Unicode */
                font-weight: 420;
                top: 12px;
                left: 20px;
                color: #434B67;
                pointer-events: none;
                // margin-right: 10px;
            }

            a {
                color: $color-blue;
                font-weight: 400;
                font-size: 1rem;

                &:hover {
                    color: #2574A9;
                    cursor: pointer;
                }
            }
        }

        &:not(:last-child) {
            // border-bottom: 1px solid rgba(0,0,0,.05);
            // margin-bottom: 10px;
            position: relative;
        }

        .profile--image {
            margin-bottom: 10px;
            text-align: center;

            >img {
                width: 150px;
                border-radius: 50% !important;
                border: 1px solid #CCC;
                padding: 10px;
            }
        }

        .profile--name {
           text-align: center;
           padding-bottom: 1rem;
        }
    }

    .select {
        font-size: 1.2rem;
    }
}
