/* ********************** */
/* component_new-releases */

.thumb img {
    width: 100%;
}

.view-all {
    margin-bottom: 16px;
    text-align: right; 
    padding-right: 8px;
}

.new-release-error {
    margin-top: 20px; 
    padding-top: 20px; 
    border-top: 1px solid #CCC;
}