/* ********************** */
/* component_hero */


#home-image {
    display: block;
    margin-top: -214px;
}

.home-hero {
    background-color: #CCC; 
    height: 800px;
    background-image: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(117,117,119,0) 60%), url('/view/image/demo-full-5.jpg');
    background-attachment: scroll;
    background-position: 100% 80%;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.hero {
position: relative;
}

.hero-text-container {
position: absolute;
top:85%;
left: 40%;
transform: translate(-32%, -41%);
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
}

.hero-text {
    // color: rgba(0,0,0,.5);
    color: rgba(255,255,255,.8);
    font-size: 3em; 
    line-height: 1;
}

.hero-text-container a {
    color: rgba(255,255,255,.8);
    // color: rgba(0,0,0,.5);
    font-size: 2em;
}

.hero-text-container a:hover {
    /* color: rgba(255,255,255,1); */
    /* color: rgba(37,116,169,1) */
    color: rgba(0,0,0,1);
}