#my-collection {

    .col-card {
        padding-top: 10px;

        >p {
            font-size: 1rem;
        }

        .more-detail {
            font-size: .8rem;
        }
        
    }
        .type-promo {
            // background-color: rgba(0,0,0,.03); 
            // padding: 10px;

            >img {
                opacity: 1;
            }
        }

    .border-top {
        border-top: .5px solid rgba(0,0,0, .1);
        padding-top: 10px;
        margin-top: 10px;    
    }

    .filmstrip-thumb {
        // max-width: 360px;
        max-width: 310px;
    }

    .art-title {
        font-size: 2rem;
        font-weight: 400;
    }


}