.activity--container {

    .item {
        margin-bottom: 16px;

        p {
            font-size: 1rem;

            &.system {
                color: $color-black;
            }

            &.warning {
                color: $color-warning;
            }

            &.success {
                color: $color-success;
            }
    
            &.failure {
                color: $color-error;
            }

        }
        
    }

}