/* ********************** */
/* component_most_popular */

#most-popular {

    // border-top: 1px solid #e4e4e4;
    // padding-top: 20px;

    h4 {
        // text-transform: uppercase;
        font-size: .8rem;
        font-weight: 300;

        // xSmall devices (landscape phones, 320px and up)
        @media (min-width: 320px) { 
            //  background-color: pink;
            font-size: .8rem;
            }
        
            // Small devices (landscape phones, 576px and up)
            @media (min-width: 376px) { 
            //  background-color: red;
                font-size: .8rem;
            }
        
            // Medium devices (tablets, 768px and up)
            @media (min-width: 767px) {
            //  background-color: blue;
            font-size: .8rem;
        }
        
            // Large devices (tablets (iPad Pro, 1112px and up)
            @media (min-width: 1112px) {
            //  background-color: gray;
                font-size: 1.2rem;
            }
        
            // Extra large devices (large desktops, 1200px and up)
            @media (min-width: 1200px) {
            //  background-color: lightgreen;
            font-size: 1.2rem;
            }
    }

    .thin {
        font-weight: 300;
    }

    p {
        font-size: .5rem;

        // xSmall devices (landscape phones, 320px and up)
        @media (min-width: 320px) { 
            //  background-color: pink;
            font-size: .5rem;
            }
        
            // Small devices (landscape phones, 576px and up)
            @media (min-width: 376px) { 
            //  background-color: red;
                font-size: .5rem;
            }
        
            // Medium devices (tablets, 768px and up)
            @media (min-width: 767px) {
            //  background-color: blue;
            font-size: .8rem;
        }
        
            // Large devices (tablets (iPad Pro, 1112px and up)
            @media (min-width: 1112px) {
            //  background-color: gray;
                font-size: 1rem;
            }
        
            // Extra large devices (large desktops, 1200px and up)
            @media (min-width: 1200px) {
            //  background-color: lightgreen;
            font-size: 1rem;
            }
            
    }
    
    .thumb img {
        width: 100%;
        border-radius: $border-radius;
        // border-bottom: 5px solid transparent;

        &:hover {
            box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
            // border-bottom: 5px solid $color-blue;
        }
    }

    .filmstrip-thumb {

        max-width: 260px;
        border-radius: $border-radius;
        // border-bottom: 1px solid transparent;

        @media (max-width: 64em), (max-width: 80em) {
            max-width: 220px;
        }

        @media (max-width: 64em) and (orientation: portrait) {
            max-width: 220px;
        }

    }
}

