/* ********************** */
/* component_most_popular */

#most-popular {

    // border-top: 1px solid #e4e4e4;
    // padding-top: 20px;

    h4 {
        text-transform: uppercase;
        font-size: 1rem;
        font-weight: 300;
    }

    .thin {
        font-weight: 300;
    }

    p {
        font-size: 1rem;
    }
    
    .thumb img {
    width: 100%;
    border-bottom: 5px solid transparent;
    &:hover {
        // box-shadow: 0px 20px 25px 0px rgba(0, 0, 0, 0.3);
        border-bottom: 5px solid $color-blue;
    }
    }

    .filmstrip-thumb {

        max-width: 260px;
        border-bottom: 1px solid transparent;

        @media (max-width: 64em), (max-width: 80em) {
            max-width: 220px;
        }

        @media (max-width: 64em) and (orientation: portrait) {
            max-width: 220px;
        }

    }
}

