.activity--container {

    // background-color: #e4e4e4;
    // padding: 32px 32px;
    // border-radius: 5px;
    // border-left: 1px solid #e4e4e4;

    .item {
        margin-bottom: 16px;
        padding: 10px;
        border-radius: 4px;

            font-size: 0.8em;

            &.system-log {
                color: $color-black;
                background-color: $color-primary-background;
            }

            &.warning-log {
                color: $color-warning;
                background-color: $color-warning-background;
            }

            &.success-log {
                color: $color-success;
                background-color: $color-success-background;
            }
    
            &.failure-log {
                color: $color-error;
                background-color: $color-error-background;
            }

        
    }

}