/* ********************** */
/* component_notice */

.notice-container {
    position: absolute;
    top: 0;
    width:100%;
    z-index:1; 
}

.notice-banner {
    font-family: lato, sans-serif; 
    padding: 20px; 
    text-align: center;
}

.notice-ALERT-old {
    background-color: $color-error;

    // >p {
    //     color: #FFFFFF;
    // }
}

.notice-WARNIN-old {
    background-color: $color-warning;

    // >p {
    //     color: #FFFFFF;
    // }
}

.notice-NORMAL-old {
    background-color: $color-blue;

    // >p {
    //     color: #FFFFFF;
    // }
}
