/* ********************** */
/* component_most_popular */

#most-popular {

    // border-top: 1px solid #e4e4e4;
    // padding-top: 20px;

    h4 {
        text-transform: uppercase;
        font-size: 1.3rem;
        font-weight: 400;
    }

    p {
        font-size: 1rem;
    }
    
    .filmstrip-thumb {
        max-width: 360px;
    }
}