/* ********************** */
/* partial_nav */

#top-nav, #top-nav-home {
    // margin-top: 42px;
    z-index: 1001;
    position: absolute;
    top: 12px;
    max-width: 1440px;
    width: 100%;
}

.notice-banner {
    font-family: lato, sans-serif; 
    background-color: #e4e4e4; 
    color: #000; 
    width:100%; 
    padding: 20px; 
    text-align: center;
}

.top-nav {
    // margin-top: 32px;
}

.topnav-logo {
    text-align: center; 
    padding-left: 30px;
}

.topnav-logo img {
    width: 124px;
}

.topnav-subline {
    font-size: .8em; 
    text-align: center; 
    margin-left: 80px; 
    display: none;
}

.thin-line {
    width: 100vw;
    position: relative;
    margin-left: -50vw;
    height: 100px;
    left: 50%;
    height: 1px;
    background-color: #CCC;
    margin-top: 32px;
}

.thin-line-home {
    display: none;
}

.heading {
    font-weight: 800;
}