
/* ********************** */
/* partial_footer */

#footer {
    margin-top: 64px;
    background-color: #000;
    color: #FFF;

    .cookie_banner {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color:$color-blue;
        // height: 100px;
        padding: 20px;
        
        >p {
            color: #FFF;
            display: inline-block;
            vertical-align: middle;
            padding-right: 20px;
            font-size: 1rem;
    
            >i.fas {
                font-size: 2rem;
            }

            &>a {
                color: #CCC;
                
                &:hover {
                    color: #000;
                }
    
            }
        }
    }

}

#footer input[type=text] {
    background-color: rgba(255,255,255,.3);
}

.collection-list {
    width: 100%;
    @extend .mt-32;
    ul {
        text-align: center;

        li {
            display: inline-block;
            margin-left: 10px;
            margin-right: 10px;
        }
    }

    @media (max-width: 64em), (max-width: 80em) {

        ul > li {
            display: block;
        }

        // ul > li:nth-last-child(-n+4) {
        //     display: none;
        // }
    }

    // @media (max-width: 64em) and (orientation: portrait) {

    //     ul > li:nth-child(n+6):nth-child(-n) {
    //         display: none;
    //     }
    // }
}

.footer-max-width {
    max-width: 102.8571em;
    margin: auto;
}

.footer-links {
    @extend .mt-32;

    p {
        display: inline-block;
        text-align: center;
        vertical-align: middle;
        padding-right: 50px;
    }
}

.footer-logo img {
    filter: invert(1);
    width: 100px;
}

.footer-column {
    margin-right: 24px;

    >h3 {
        padding-bottom: 10px;
        font-weight: 800;
    }
}

#footer a, #footer li a {
    color: #FFF;
    // font-size: 1rem;
}

#footer a:hover, #footer li a:hover {
    color: $color-blue;
}

#footer h4 {
    padding-bottom: 16px
}

#footer .footer-links > h3 {
    font-size: 1.2rem;
    color: #FFF;
}


#footer img {
    // opacity: .4;
    border-radius: 0;
}

#footer .social img {
    opacity: .6;
    width: 16px; 
    margin-right: 5px; 
    vertical-align: middle;
    position: relative;
    margin-top:-3px;
}

#footer img:hover {
    opacity: 1;
}

.breadcrumb {
    // @extend .pt-32;
    padding-bottom: 0;

    >p {
        font-size: .8rem;
        display:inline-block;
    }
}

.breadcrumb-logo {
    width: 28px; 
    vertical-align: middle;
    filter: invert(1);
}

.breadcrumb-arrow {
    vertical-align: middle; 
    // opacity: .6; 
    width: 10px; 
    height: 10px;
    margin-left: 10px;
    margin-right: 10px;
    filter: invert(1);
}

.top-border {
    border-top: 1px solid rgba(0,0,0,.07);
    padding: 5px 0;
    margin-top: 5px;
    width: 75%;
}
 
.copyright-old {
    font-size: .9rem;
    position: absolute; 
    right: 20px; 
    bottom: 20px;
}

.copyright {

    text-align: right;

    @media (max-width: 64em) and (orientation: portrait),
    (max-width: 80em) and (orientation: portrait) 
    {
        text-align: center;
    }

    @media (min-device-width: 375px) and (max-device-height: 812px) 
        and (orientation : landscape)
    {
        text-align: center;
    }

}