/* ********************** */
/* partial_newsletter */

.newsletter-container {
    vertical-align: bottom;
    margin-right: 32px;   
}

#newsletter input[type=text] {
    width: 56%;
    padding: 10px;
    height: 42px;
    margin-right: 10px;
}

.disclaimer {
    font-size: .9rem;
}