/* ********************** */
/* partial_nav */

#top-nav-home {
    z-index: 1001;
    max-width: 1440px;
    width: 100%;
    position: absolute;
    top: 1rem;
    margin: 0;
}

#top-nav {
    z-index: 1001;
    max-width: 1440px;
    width: 100%;
    margin: 0;
    margin-bottom: 1rem;
}

.topnav-logo {
    text-align: center; 
    padding-left: 30px;
}

.topnav-logo img {
    width: 124px;
}

.topnav-subline {
    font-size: .8em; 
    text-align: center; 
    margin-left: 80px; 
    display: none;
}

.thin-line {
    width: 100vw;
    position: relative;
    margin-left: -50vw;
    height: 100px;
    left: 50%;
    height: 1px;
    background-color: #CCC;
    // margin-top: 32px;
}

.thin-line-home {
    display: none;
}

.heading {
    font-weight: 800;
}

/* FOR NOTICE */
.notice-container {
    position: absolute;
    top: 0;
    width:100%;
    z-index:1; 
}

.notice-banner {
    font-family: lato, sans-serif; 
    padding: 20px; 
    text-align: center;
}