/* ********************** */
/* view_legal */

.container >p {
    margin-top: 1rem;
}

.divider {
    border-top: 1px solid #e4e4e4;
    margin-top: 40px;
}

.subsection-ul {
    margin-top: 20px;
    list-style-type: none;

}

.subsection-ul li {
    margin-top: 30px;

    .toc >li {
        margin-top: 0;
    }
}

.subsection-ul li >p {
    /* font-size: 1.0rem; */
    margin-bottom: 10px;
    margin-top: 10px;
}

.subsection-ul li >p.intro {
    /* font-size: 1.8rem;
    line-height: 1.5em; */
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.3em;
    margin-top: 25px;
    color: rgba(0,0,0,.5);
}

.subsection-ul li >ol {
    list-style-type: none;
}

.subsection-ul li >ol li {
    margin-bottom: 10px;
    margin-left: 30px;
    font-size: 1.2rem;
}
