.collections-add--container {

    background-color: rgba(0,0,0,.02);
    border-radius: 6px;
    margin: 0;
    padding: 0;

    .admin-header {
        background-color: rgba(0,0,0,.08);
        margin: 0;
        border-radius: 6px 6px 0 0;
        padding: 1rem;
        margin-bottom: 1rem;
        position: relative;
        
        h2 {
            font-weight: 300;
        }
    }

    #material_expenses_list {
        padding: 1rem 0;
    }


     .material_supplier-container-manual-entry {
        display: none;

         &.show {
            display: block;
        }
    }

    .material-supplier-container {
        display: block;
        
        &.no-show {
            display: none!important;
        }

    }
    
    .vtop {
        vertical-align: top;
    }

    .ml-1 {
        margin-left: 1rem;
    }

    .view-lh {
        display: block;
        margin-top: -10px;
        margin-bottom: 1rem;
    }

    .lh_container {
        display: none;
        margin-left: 20px;
        margin-bottom: 2rem;
    }

    .material_expense_supplier_container {
        margin-left: 0 !important;
    }

    .material-add, .remove-add {
        font-size: 1.2rem;
        margin-left: 15px;
        vertical-align: middle;
        padding-bottom: 1rem;

        &:hover {
            cursor: pointer;
        }
    }

    .total_exp {
        text-align: right;
        border-top: 5px double #CCC;
        padding-top: 10px;
        margin-top: 1rem;
    }

    .small {
        font-size: 1rem;
        color: $color-black-placeholder;
    }

    .btn-delete {
        opacity: .3;
        position: absolute;
        right: 5px;
    }

    .btn-delete:hover {
        background-color: red!important;
        color: #FFF!important;
        border-color: red;
        opacity: 1;
    }

    form {
        padding: 1rem;
    }


}