/* ********************** */
/* view_styles */

#styles {

    h2 {
        padding-bottom: 1rem;
    }

    ul {
        margin-top: 2rem;

        li {
            margin-top: 1rem;
        }
    }

    table {
        width: 100%;
        margin-top: 2rem;
        margin-bottom: 2rem;
        // margin-left: auto;
        // margin-right: auto;

        tr,th {
            vertical-align: top;
            padding: .5rem;
            width: 75%;

            &.gray {
                background-color: #e4e4e4;
            }

            td {
                vertical-align: top;
                padding: .5rem;

                &.left {
                    text-align: left;
                }

                &.tright {
                    text-align: right;
                }
            }

        }

    }
}


.moulding-thumb {
    display: inline;

    &-img {
        width: 45%;
    }
}