.admin--section {

    .admin--main_container {

    margin-top: -32px;
    
        .summary {
            margin-top: 32px;
        }
        
        .stat {
            font-size: 5rem;
        }

        .divider {
            border-left: 1px solid #CCC;
        }
    }
}