#polarized_idx {

    margin: 0;
    padding: 0;
    // padding: 0 32px;

    // Large devices (tablets (iPad Pro, 1112px and up)
    @media (min-width: 1112px) {
        width: 100%;
        margin: auto;
    }

    // Extra large devices (large desktops, 1200px and up)
    @media (min-width: 1200px) {
        width: 80%;
        margin: auto;
    }
    
    h1 {
        font-family: 'Source Serif Pro', serif;
        text-align: center;
        color: $color-black;
    }

    .tagline {
        font-family: 'Source Serif Pro', serif;
        font-size: 1.5rem;
        font-weight: 200;
        text-align: center;
        line-height: 1;
        padding-top: .5rem;
        padding-bottom: 4rem;
        color: #757575;
    }

    .rotate-for-more {

        display: none;
        
        @media (max-width: 64em) and (orientation: portrait),
        (max-width: 80em) and (orientation: portrait),
        (min-device-width: 375px) and (max-device-height: 812px)
        {
            font-size: .7rem;
            display: block;
            position: absolute;
            top: 1rem;
            right: 1rem;
    
            >i {
                padding-left: .5rem;
            }
        }
        
        @media (max-width: 64em) and (orientation: landscape),
        (max-width: 80em) and (orientation: landscape),
        (min-device-width: 375px) and (max-device-height: 812px) 
        and (orientation : landscape) and (-webkit-device-pixel-ratio: 3)
        {
           display: none;
        }

    }

    .__container {

        .--card_layout {
            display: grid;
            grid-gap: 1rem;
            margin-left: -1rem;

             // xSmall devices (landscape phones, 320px and up)
            @media (min-width: 320px) { 
                grid-template-columns: 100%;
                // background-color: lightpink;
            }

            // Small devices (landscape phones, 576px and up)
            @media (min-width: 376px) { 
                grid-template-columns: 50% 50%;
                // background-color: gray;
            }

            // Medium devices (tablets, 768px and up)
            @media (min-width: 767px) {
                grid-template-columns: 33% 33% 33%;
                // background-color: blue;
            }

            // Large devices (tablets (iPad Pro, 1112px and up)
            @media (min-width: 1112px) {
                grid-template-columns: 33% 33% 33%;
                // background-color: orange;
            }

            // Extra large devices (large desktops, 1200px and up)
            @media (min-width: 1200px) {
                grid-template-columns: 33% 33% 33%;
                // background-color: red;
            }

        }

        @media (max-width: 64em) and (orientation: portrait),
            (max-width: 80em) and (orientation: portrait),
            (min-device-width: 375px) and (max-device-height: 812px) 
            and (orientation : landscape) and (-webkit-device-pixel-ratio: 3)
            {
               flex-basis: 100%;
               max-width: 100%;
            }

        // @media (max-width: 64em) and (orientation: landscape),
        //     (max-width: 80em) and (orientation: landscape) 
        //     {
        //        flex-basis: 100%;
        //        max-width: 100%;
        //     }

        .subtitle {
            
            padding-bottom: 3rem;

            @media (max-width: 64em) and (orientation: portrait),
            (max-width: 80em) and (orientation: portrait) 
            {
                font-size: 1.8rem;
                font-weight: 600;
                text-align: center;
                word-wrap: break-word;
                padding-bottom: 2rem;
            }

        }

        ul li {
            list-style: square;
            margin-left: 1rem;
        }
    }
}

.content__area {

    div, p {
        // font-size: 1.3rem;
    }
    
}
.storycard {
    margin-bottom: 32px;
    position: relative;
    display: flex;
    border-bottom: 1px solid #e4e4e4;
    padding-bottom: 2rem;
    

    h4 {
        font-weight: 600;
        font-size: 1.2rem;

        a {
            color: #000;

            &hover {
                color: lighten(#000,20%);
            }
        }
    }
          .content--preview {
              flex: 3;
              background-color: #FFF;
              padding-right: 1rem;

              .--tag, .--byline {
                    font-size: .7rem;
              }

              .--byline {
                  font-family: 'lato', sans-serif !important;
                  font-weight: 400;
                font-size: .8rem;
              }

              .--teaser,
              .--teaser >p,
              .--teaser >div{
                  padding-top: .5rem;
                  font-size: 1rem;
              }
          }

          .content__image--preview {   
                justify-content: center;
                display: flex;
                flex-direction: row;
                overflow: hidden;
                padding: 0;
                height: 161px;
                flex:1;
                border-radius: $border-radius;

                    >img {
                        flex: 2;
                        height: 100%;
                    }
          }
}

.content__filmstrip--preview {
    border-radius: 6px; 
    padding: .5rem 2rem .5rem 2rem; 
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 1rem;
}

.content__filmstrip--teaser >p {
    border-radius: 6px; 
    padding: 0 4rem 1rem 2rem; 
    background-color: rgba(0, 0, 0, 0.5);
    line-height: 1.2rem;
    font-size: 1rem;
}
          
.storycard--background {
    position: relative;
    background-color: #000;
    // margin-bottom: 32px;
    color: #FFF;
    border-radius: $border-radius;
    position: relative;
    padding: 0;
    // height: 220px;

    h4 {
        font-weight: 600;
        font-size: 1.5rem;

        a {
            color: #FFF;

            &:hover {
                color: darken(#FFF, 20%);
            }
        }
    }

    .content--preview {
        // background-color: rgba(0,0,0,.5);
        padding: 0 32px;
        height: 100%;
        border-radius: $border-radius;

        .--tag, .--byline {
            font-size: .8rem;
        }

        .--byline {
            font-family: Lato, sans-serif !important;
            font-weight: 400;
            padding-left: .3rem;
        }
    } 

    .content__image--preview {   
        padding: 0; margin: 0;
        overflow: hidden;
        border-radius: $border-radius;

        >img {
            width: 120%;
            overflow: hidden;
            vertical-align: top;
            border-radius: $border-radius;
        }
    }
    


    .close_filmstrip {
        cursor: pointer;
    }
}