.collector--section {
    
    div >p {
        text-align: center;
    }
}
    
.collector--main_container {

    .whoami {
        // display: none;
    }

    .note-from-artist {
        display:none;
    }
    
    .note-from-artist p {
        margin-top: 10px;    
        font-size: 1.8rem;   
        padding: 0 64px; 
        font-family: 'Homemade Apple', cursive;
        line-height: 2;
    }

    #note-close {
        cursor: pointer;
        text-align: right;
        border-bottom: 5px solid #e4e4e4;
        padding-bottom: 1rem;

        .label {
            background-color: #e4e4e4;
            padding: 10px;
            border-radius: 4px;
        }
        .label-icon {
            vertical-align: middle;
        }
    }

    >h2 {
        font-weight: 800;
    }
    
    .signout {
        text-align: right;
    }

    .welcome-msg {

        text-align: center;
        @extend .mb-32;

        h1 {
            text-transform: initial;
            font-weight: 800;
            font-size: 4rem;
        }
        
        .subhead {
            // margin-top: -30px;
            text-transform: initial;
            font-weight: 100;
            color: $color-blue;
            font-size: 2rem;
            // text-transform: capitalize;
        }
        
        .col-em {
            font-weight: 400;
        }

        .name {
            // position: absolute;
            // right: 330px;
            // top: 55px;
            font-weight: 800;
            // background-color: $color-blue;
            color: $color-blue;
            // padding: 10px 20px;
        }

        >p {
            font-size: 2rem;
            >span {
               color: $color-blue;
               font-weight: 800;
            }
        }

    }

    .rewards {
        font-size: 5.5rem;
        color: $color-blue;
    }

    .third-size {
        width: 39%;
        display: inline-block;
        // margin-left: 1rem !important;
    }

    label {
        position: absolute;
        font-size: .8rem;
        margin-top: -4px;
        background-color: #DDD;
        padding: 0 5px;
        color: $color-black;
        border-radius: 0 $border-radius $border-radius 0;
    }

    textarea#comments {
        width: 99.4%;
    }

    .amazing-offer-image {
        padding: 0;
        border: none;
    }

}