#polarized_idx {

    margin: 0;
    padding: 0;

    // Large devices (tablets (iPad Pro, 1112px and up)
    @media (min-width: 1112px) {
        width: 100%;
        margin: auto;
    }

    // Extra large devices (large desktops, 1200px and up)
    @media (min-width: 1200px) {
        width: 80%;
        margin: auto;
    }

    h1 {
        font-family: 'Source Serif Pro', serif;
        text-align: center;
        color: $color-black;
    }

    .tagline {
        font-family: 'Source Serif Pro', serif;
        font-size: 1.5rem;
        font-weight: 200;
        text-align: center;
        line-height: 1;
        padding-top: .5rem;
        padding-bottom: 2rem;
        color: #757575;
    }

    .rotate-for-more {

        display: none;

        @media (max-width: 64em) and (orientation: portrait),
        (max-width: 80em) and (orientation: portrait),
        (min-device-width: 375px) and (max-device-height: 812px) {
            font-size: .7rem;
            display: block;
            position: absolute;
            top: 1rem;
            right: 1rem;

            >i {
                padding-left: .5rem;
            }
        }

        @media (max-width: 64em) and (orientation: landscape),
        (max-width: 80em) and (orientation: landscape),
        (min-device-width: 375px) and (max-device-height: 812px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3) {
            display: none;
        }

    }


}

/* New simple cards v2, rectangular */
.card {

    &--wrapper {
        display: flex;
        margin: 0;
        border-bottom: 1px dashed  #e4e4e4;
        //   max-width: 600px;
        padding-bottom: 1rem;
        margin: auto auto 1rem auto;
        line-height: 1.2;
    }

    &--content {
        flex-grow: 1;
        flex-shrink: 1;
        //   flex-basis: auto;
        font-family: sans-serif;
        padding: 0 1rem 0 0;
        min-width: 65%;
    }

    &--type {
        font-size: .8rem;
    }

    &--byline {
        font-size: .8rem;
        display: none;
    }

    &--title {
        font-weight: 800;
        margin: .5rem 0;
    }

    &--teaser {
        font-size: 1rem;  
        display: block;  
        
        // xSmall devices (landscape phones, 320px and up)
        @media (min-width: 320px) { 
            display: none;
        }
    
        // Small devices (landscape phones, 576px and up)
        @media (min-width: 376px) { 
           display: none;
        }
        
        // Small devices (landscape phones, 576px and up)
        @media (min-width: 376px) and (orientation: landscape){ 
           display: block;
           font-size: .9rem;
        }
    
        // Medium devices (tablets, 768px and up)
        @media (min-width: 767px) {
            display: block;
        }
    
        // Large devices (tablets (iPad Pro, 1112px and up)
        @media (min-width: 1112px) {
            display: block;
        }
    
        // Extra large devices (large desktops, 1200px and up)
        @media (min-width: 1200px) {
            display: block;
        }
    }
    
    &--readtime {
        font-size: .8rem;
        width: 100%;
        //   padding-top: .5rem;
        margin-top: 1rem;
        line-height: 1.7;
    }

    &--image {

        &-wrapper {
            position: relative;
            display: block;
            height: 133px;
            width: 100%;
            border-radius: $border-radius;
            overflow: hidden;
            flex-basis: 500px;

            a>img {
                border-radius: 6px;
                vertical-align: middle;
                // height: 133px;
                width: 100%;
            }
        }

        &-icon {
            position: absolute;
            right: 1rem;
            bottom: 1rem;
            color: #FFF;
        }
    }
}

#polarized_idx .newsletterinput {
      width: 83% !important;
}