/* ********************** */
/* view_exhibits */

.pr-20 {
    padding-right: 20px!important;
}

#instafeed img {
    width: 100%;
}

#exhibit-other-locations {
    margin-bottom: 20px;
}

.location-newsletter > p {
    font-size: 18px;
    /* line-height: 1.3em; */
}

.location-newsletter .mailchimp-logo {
margin-top: 5px; width: 13%
}

.exhibit-prev-tack {
    font-size: 12px;
}

.exhibit-icon {
    width: 75px;
    margin-top: 24px;
    border-radius: 50px;
}

.exhibit-icon-right {
    min-height: 150px;
}

.exhibit-desc {
    margin-top: 0;
}

.exhibit-divider {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 20px;
    border-top: 1px solid #CCC;
}

.exhibit-list {
    padding-right: 20px;
}

.exhibit-list li {
    margin-bottom: 30px;
    margin-left: 20px;
}