/* ********************** */
/* view_catalog */

.title {
    text-align: center;

}

.filter-editions-list { 
 
    margin: 2rem 0;

    li {
    display: inline-block;
    font-size: 1.4rem;
    padding: .5rem;
    width: 214px;
    color: $color-blue;

        &:first-child {
            padding-right: 50px;
            border-right: 1px solid #AAA;
        }

        &:hover {
            cursor: pointer;
            // font-weight: bold;
            color: $color-black-dark;
        }
        
        &.selected {
            font-weight: 700;
        }
    }

}
