/* ********************** */
/* view_styles */

.subsection-ul > li {
    margin-top: 32px;
    margin-left: 50px;

}

.moulding-thumb {
    width: 32%;
}

.divTable{
	display: table;
    margin-top: 16px;

    &.w-100 {
        width: 100%;
    }
    .w-80 {
        width: 80%;
    }
    .w-75 {
        width: 75%;
    }
    .w-60 {
        width: 60%;
    }
    .w-50 {
        width: 50%;
    }

    .bkg-gray {
        background-color: #e4e4e4;
    }
    
    .border-b {
    	border-bottom: .5px solid #e4e4e4;
    }

    .border-l {
        border-left: .5px solid #e4e4e4;
    }

    .border-r {
        border-right: .5px solid #e4e4e4;
    }

}
.divTableRow {
	display: table-row;

}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
}

.divTableCell, .divTableHead {
	display: table-cell;
	padding: 3px 10px;
}

.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
	font-weight: bold;
}
.divTableFoot {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}
.divTableBody {
	display: table-row-group;
}
.thead {
	font-weight: 700;
}