.admin--section {

    .admin--main_container {

        padding: 0;

        .grid {
            margin: 0;
        }

        >h1 {
            text-transform: initial;
            font-weight: 300;
        }

        .summary {
            margin-top: 32px;
        }
        
        .stat {
            font-size: 5rem;
        }

        .divider {
            border-left: 1px solid #CCC;
        }
    }
}