.settings--container {

        background-color: rgba(0,0,0,.02);
        border-radius: 6px;
        margin: 1.7rem 0;
        padding: 0;
    
    .admin-header {
        background-color: rgba(0,0,0,.08);
        margin: 0;
        border-radius: 6px 6px 0 0;
        padding: 1rem 1rem 0 1rem;
        position: relative;
        
        h2 {
            font-weight: 300;
        }
    }

    h4 {
        text-decoration: underline;
    }

    form {
        padding: 1rem;
    }

    .section-system {
        display: none;
    }
    
    #tab-notices {
        display: none;
    }
}

.code-block {
    display: none;
    background-color: rgba(0,0,0, .2);

    pre {
        margin: 0 10px auto auto;
        padding: 10px;
        font-size: .7rem;
    }
}

.w-100 {
    width: 100%;
}