/* ********************** */
/* view_about */

.name-container {
    padding: 72px !important;
}

.name {
    font-size: 2.25em;
}

.name-title {
    font-size: 1rem;
}

.name-statement {
    padding-top: 40px;
    line-height: 1.5;
    font-size: 2em;
}

.bio-profile-pic-overlay {
    position: absolute;
    right: -124px;
    top: 148px;
    border-radius: 260px;
    padding: 10px;
    background-color: #FFF;
    width: 240px;
    z-index: 1001;
}

.bio-profile-pic {
    border-radius: 500px;
    margin-top: 42px;
    margin-left: -42px;
    background-color: #FFF;
    width: 100%;
    z-index: 1001;

}

.timeline {
    width: 70%;
    margin: 60px auto;
}

.timeline-date {
    display: inline-block;
    // width: 100px;
    font-size: 1.5rem;
    border-bottom: 1px solid #CCC;
    padding-bottom: 10px;
}

.timeline-history {
    display: inline-block;
    width: 85%;
    border-left: 1px solid #CCC;
    padding-left:  20px;
    vertical-align: top;
    margin-top: -25px;
}

.timeline-history > p {
    margin-top: 10px;
    margin-bottom: 10px;
}

.timeline-small {
    font-size: 1rem;
}

.timeline-height-adjust {
    height: 100px;
    vertical-align: middle;
    display: table-cell;
}