/* ********************** */
/* component_contact */

fieldset {
    border: 0;
    @extend .mb-16;
}

#contact {
    margin-bottom: 400px;
}

#contactForm textarea {
    height: 200px; 
    padding-top: 30px;
}

.contact-ul {
    margin-top: 10px;
}

.contact-ul li {
    list-style: square;
    margin-left: 40px;
}