/* ********************** */
/* view_e404 */

.page-not-found-container {
    // margin-top: 22vh;
    min-height: 300px;
    // margin-bottom: 48px;
    text-align: center;

    .e404 {
        font-size: 1.3em; 
        line-height: 1.6; 
        padding-bottom: 32px;
    }
}