.fieldnotes-add--container {

        background-color: rgba(0,0,0,.02);
        border-radius: 6px;
        margin: 0;
        padding: 0;

    .admin-header {
        background-color: rgba(0,0,0,.08);
        margin: 0;
        border-radius: 6px 6px 0 0;
        padding: 1rem;
        margin-bottom: 1rem;
        position: relative;
        
        h2 {
            font-weight: 300;
        }
    }

    .show-image {
        width: 100%;
    }

    .file {
        position: relative;

        .file__upload-container {
            position: absolute;
            bottom: 6rem;
            left: 1rem;
        }

        .file--image_info {
            background-color: #000;
            color: #FFF;
            padding: 10px;
            line-height: 1.5;
        }
    }

    .image_filler {
        width: 100%;
        height: 609px;
        background-color: #e4e4e4;
        padding-top: 28%;
    }
    
#result {
    margin-bottom: 1rem;
    text-align: center;
    // background-color: #fff3cd;
    // margin-top: 1rem;
    // padding: 1rem;

    .slash {
        font-size: 1.5rem;
    }
}

#wordCount, #wordLimit {
    color: $color-black;
    font-size: 1.5rem;
}

form {
    padding: 1rem;
    
    .input-upload {
        margin-bottom: 1rem;
    }

    textarea {
        overflow-y: scroll;
        min-height: 750px;
    }

    #content {
        border-top-right-radius: 0;
        border-top-left-radius: 0;
    }

}

}

.fn__editor {

    display: flex;
    flex-direction: row;
    width: 100%;
    border-left: 1px solid #e4e4e4;
    border-right: 1px solid #e4e4e4;
    border-top: 1px solid #e4e4e4;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;

    .fn__editor_tools {
        flex-grow: 1;
        border-bottom: 1px solid #e4e4e4;

        button {
            border: 0;
            border-right: 1px solid #e4e4e4;
            vertical-align: middle;
            text-align: center;
            display: inline-block;
            background-color: transparent;
            color: #000;
            border-radius: 0;
            min-width: 59px;
            letter-spacing: 0;
            white-space: initial;
    
            &:hover {
                background-color: rgba(0,0,0,.2);
                cursor: pointer;
                border-right: 0;
            }
        
            &:last-child {
            border-right: 0;
            // background-color: rgba(0,0,0, .75);
            float: right;
            // color: yellow;

                &:hover {
                    background-color: rgba(0,0,0, .75);
                    color: yellow;
                }
            }  
        } 

    }

    .--preview {
        flex-grow: 0;

        button {
            border-right: 0; 
            border-left: 1px solid #e4e4e4;
        }

        &:hover {
            cursor: pointer;
        }
    }

}

/* Editor CSS */

    .content_html,
    .content_html div,
    .content_html p {
        // font-size: 1.3rem;
        line-height: 1.6;
        margin-bottom: 1rem;
    }

    .content_html h1 {
        font-size: 2rem !important;    
    }

    .content_html b {
        font-weight: 700 !important
    }
    
    .content_html ul {
        margin-left: 2rem;
    }

    .content_html ul li {
        list-style-type: square;
        margin-bottom: .5rem;
    }

    .content_html blockquote {
        border-left: 3px solid #e4e4e4;
        padding-left: 1rem;
        margin: 2rem 4rem;
    }

    [contenteditable] {
        min-height: 700px;
        max-height: 800px;
        border: 1px solid #e4e4e4;
        border-top: 0;
        padding: 20px;
        background-color: rgba(255,255,255,.5);
        overflow: scroll;
    }

    [contenteditable]:focus {
        outline: none;
        border-bottom: 15px solid #e4e4e4;
    }

    .raw_edit_container {
        display: none;
    }
    
    .raw_edit_save {
        text-align: right;
        color: #e4e4e4;
    }

    .raw_edit_save:hover {
        color: #000;
        cursor: pointer;
    }

    .content_raw {
        min-height: 450px !important;
        font-size: 1.2rem;
        line-height: 1.5;
        margin: 1rem 0;
        padding: 1rem;
        border-color: #000;
        background-color: rgba(0,0,0, .75);
        color: #e4e4e4;
    }

    .content_raw:focus {
        background-color: rgba(0,0,0,1);
        color: #FFF;
        height: 700px;
    }

    .content_raw:focus + .raw_edit_save {
        color: red !important;
    }
