.checkout-sub {
    // margin-left: 2rem;
    margin-bottom: 32px;
    // margin-top: -1rem;
    font-weight: 200;
    font-size: 1.3rem;
}

#estimated_cost_format {

}

.shipping {
    padding-top: 2rem;
}

.shipping label {
    color: $color-black-dark !important;
}

#promocode {
    color: #000;
}
