/* ********************** */
/* view_newsletter_email */

/* Amazing Offer */

.amazing-offer-error,
input[type="text"].amazing-offer-error {
    background-color: rgba(255,0,0, .1) !important;
    border-width: thin;
    border-style: solid;
    border-color: rgba(255,0,0,.2);
    border: 1px solid rgba(255,0,0,.2);;
    border-radius: 5px;
    margin-bottom: 10px;
}

.amazing-offer-container {
    width: 76%;
    /* padding-top: 40px; */
    margin: auto;
}

.amazing-offer-center {
    text-align: center !important;
}

.amazing-offer-morebold {
    font-weight: 800;
}

.amazing-offer-logo {
    margin-top: 0;
    margin-left: 5px;
    margin-right: 5px;
    height: 60px;
}

.amazing-offer-h1 {
    /* text-transform: capitalize !important; */
    font-size: 42px;
    font-weight: 400;
    margin-top: 60px;
    margin-bottom: 10px;
    line-height: .7em;
    text-align: center;
}

.amazing-offer-h2 {
    text-transform: capitalize !important;
    padding: 20px 0 0 0;
    font-size: 2.5em;
    font-weight: 900;
    margin-bottom: 10px;
    line-height: 1.2em;
    text-align: center;
}

.amazing-offer-small {
    font-size: 1.0rem;
    font-weight: 400;
}

.amazing-offer-presents {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 60px;
    width: 200px;
}

.amazing-offer-strike {
    position: absolute;
    margin-top: 0;
    margin-left: 0;
    text-decoration: line-through;
    font-size: .5em;
    color: #A9A9A9;
}
.amazing-offer-photo {
    position: relative;
}

.amazing-offer-watermark {
    position: absolute;
    bottom: 40px;
    right: 150px;
    width: 40px;
}

.amazing-offer-heading {
    text-align: center;
    font-weight: 200 !important;
}

.amazing-offer-title {
    font-weight: 400;
    font-size: 1.0rem;
    text-align: center;
    padding: 20px 0 0 0;
    line-height: 1.3em;
    margin-top: 40px;
}

.amazing-offer-title-light {
    font-weight: 200;
    font-size: 1.3rem;
    text-align: center;
    padding: 20px 0 40px 0;
}

.amazing-offer-image {
    padding: 20px;
    border:  2px solid #A9A9A9;
    box-sizing: border-box;
}

.amazing-offer-caption {
    margin-top: 30px;
    text-align: left;
    font-size: 1.5rem;
    line-height: 1.6em;
    font-weight: 300;
    // padding-bottom: 40px;
}

.amazing-offer-blurb {
    position: relative;
    font-size: 1.5rem;
    line-height: 1.5;
    text-align: left;
    font-weight: 300;
    clear: both;
}

.amazing-offer-blurb-desc {
    margin-top: 20px;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.5em;
    text-align: left;
}

.amazing-offer-blurb-smaller {
    font-size: 1.2rem;
    line-height: 1.5em;
    font-weight: 300;
    margin-top: 30px;
}

.amazing-offer-blurb-smaller a {
    color: #AAAAAA;
}

.amazing-offer-padding {
    padding: 20px;
    /* margin-top: 30px; */
}

.amazing-offer-expires {
    font-weight: 100;
    font-size: .5rem;
    text-align: left;
    // text-transform: uppercase;
    /* font-size: 1rem; */
    /* margin-top: 60px; */
    // line-height: 1.5em;
    /* border-top: 1px solid #A9A9A9; */
    /* padding-top: 10px; */
}

.amazing-offer-button {
    // width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    font-size: 1.2rem;
    background-color: #2baadf;
    color: #FFFFFF;
    cursor: pointer;
    border: none;
    border-radius: 6px;
}

.amazing-offer-button:hover {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    font-size: 1.2rem;
    font-weight: 900;
    background-color: rgba(43,170,223,.5);
    color: #000;
}

.amazing-offer-form-response {
    text-align: center;
    margin-top: 60px;
    clear: both;
}


.select-wrapper {
	position: relative;	
}

.select-wrapper:after {
    content: url(../image/icon_downarrow.svg);
  	position: absolute;
  	top: 20px;
  	right: 25px;
    color: #A9A9A9;
    opacity: .5;
  	pointer-events: none;
}

.select-wrapper option {
    padding: 5px;
}